title = "Home"
url = "/"
layout = "default"
is_hidden = 0
==
{% for block in this.theme.sections %}
  {% set type = block._group %}

  {# HERO #}
  {% if type == 'hero' %}
    {% set heroImage = block.image ? (block.image|media) : null %}
    {% partial 'hero-dyn'
      title=block.title
      intro=block.intro
      image=heroImage
    %}

  {# HISTOIRE #}
  {% elseif type == 'histoire' %}
    {% set sideImage = block.side_image ? (block.side_image|media) : null %}
    {% partial 'histoire-dyn'
      content=block.content
      side_image=sideImage
    %}

  {# GALERIE #}
  {% elseif type == 'galerie' %}
    {% set imgs = [] %}
    {% if block.images %}
      {% for p in block.images %}
        {% set imgs = imgs|merge([p|media]) %}
      {% endfor %}
    {% endif %}
    {% partial 'galerie-dyn' images=imgs %}

  {% endif %}
{% endfor %}